body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ff5722;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
}

.menu-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.auth-container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 30px;
}